---
layout: home
---

<section class="home">
  <header class="main-header">
    <div class="logo"></div>
    <section class="header-content">
      <p class="title">norris hung, <i>designer &amp; developer</i></p>
      <nav class="main-nav">
        <a href="{{ '/writing' | prepend: site.baseurl }}">Writing</a>
        <a href="{{ '/reading' | prepend: site.baseurl }}">Reading</a>
        <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
      </nav>
      <section class="intro">
        <p><strong>My name is Norris and design is how I choose to make the world a better place.</strong> I strive to make better products and content through simplifying and humanizing. I have a special enthuasiasm for design thinking, typography, information design, and web development.</p> 
      </section>
    </section>
  </header>
  <section class="portfolio">
    <nav class="portfolio__nav">
      <a href="#interface">Interface</a>
      <a href="#content">Content</a>
      <a href="#data">Data</a>
      <a href="#identity">Identity</a>
    </nav>
    <section class="portfolio__section-container">
      <section class="portfolio__section--interfaces">
        {% for post in site.categories.interface %}
          {% include portfolio_item.html %}
        {% endfor %}
      </section>
      <section class="portfolio__section--web">
        {% for post in site.categories.content %}
          {% include portfolio_item.html %}
        {% endfor %}
      </section>
      <section class="portfolio__section--data">
        {% for post in site.categories.data %}
          {% include portfolio_item.html %}
        {% endfor %}
      </section>
      <section class="portfolio__section--identities">
        {% for post in site.categories.identity %}
          {% include portfolio_item.html %}
        {% endfor %}
      </section>
    </section>
  </section>
</section>
