.section-why {

    border-bottom: 1px solid $light-grey;

    .content-row {
        @include grid-container();
        padding-top: 2em;
        > li {
            @include span-columns(4);
            margin-bottom: 2em;
            @include media($mobile) {
                @include span-columns(12);
                margin-bottom: 4em;
                &:last-of-type {
                    margin-bottom: 0;
                }
               
            }
            h3 {
                height: 2.8em;
                @include media($mobile) {
                    height: auto;
                }
            }
        }
    }
    .illustration {
        opacity: 0;
        width: 80%;
        max-width: 200px;
        padding-top: (182/200)*80%;
        background-repeat: no-repeat;
        background-position: center center;
        margin: {
            left: auto;
            right: auto;
        }

        &.illustration-devices {
            @include image-2x('../assets', 'dropbox-for-business-why-devices', 'png', 100%, auto);
        }
        &.illustration-keys {
            @include image-2x('../assets', 'dropbox-for-business-why-key', 'png', 100%, auto);
        }
        &.illustration-watch {
            @include image-2x('../assets', 'dropbox-for-business-why-watch', 'png', 100%, auto);
        }

        @include media($mobile) {
            width: 40%;
            padding-top: (182/200)*40%;
        }
    }

    &.visible {
        .illustration {
            @include animation(bounce-in-from-left .5s 1 $ease-out-back);
            @include animation-fill-mode(forwards);
            &.illustration-devices {
                @include animation-delay(0s);
            }
            &.illustration-keys {
                @include animation-delay(.25s);
            }
            &.illustration-watch {
                @include animation-delay(.5s);
            }
        }
    }
}
