.section-hero {
    color: #fff;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &::after {
        @include image-2x('../assets', 'dropbox-for-business-files', 'png', 1050px, 696px);
        @include animation(fade-in-from-bottom 1s .5s 1 ease-out);
        @include animation-fill-mode(forwards);
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .content-row {
        @include grid-container();
        .main-header {
            @include span-columns(3);
            color: #fff;
            font-size: rem($ui-type-size);
            margin-bottom: 2em;
            text-align: left;

            @include media($tablet) {
                @include span-columns(12);
                @include no-float();
                text-align: center;
                margin: {
                    left: auto;
                    right: auto;
                }
            }

            .logo {
                @include hide-text();
                @include image-2x('../assets/', 'white_dropbox_glyph', 'png', 36px, 34px);
                background-repeat: no-repeat;
                height: 34px;
                width: 36px;
                @include media($tablet) {
                    margin: {
                        left: auto;
                        right: auto;
                    }
                }
            }
            h3 {
                font-size: $ui-type-size;
                font-weight: 700;
                margin-bottom: .3em;
            }
            .main-nav {
                color: #fff;
                list-style-type: none;
                @include media($tablet) {
                    text-align: center;
                    li {
                        display: inline-block;
                        margin-right: 1em;
                    }
                }
                .header-link {
                    display: inline-block;
                    margin: .3em 0;
                    text-decoration: none;
                    border: 1px solid transparent;
                    &:hover {
                        border-bottom: 1px solid #fff;
                    }

                    @include media($tablet) {
                        border-bottom: 1px solid rgba(#fff, .7);
                    }
                }
            }
            
        }

        .hero-content {
            @include span-columns(6);
            padding-top: 44px; //to align with navigation
            text-align: center;

            @include media($tablet) {
                @include span-columns(8);
                @include no-float;
                margin: {
                    left: auto;
                    right: auto;
                }
            }

            @include media($mobile) {
                @include span-columns(12);   
            }

            p a {
                border-color: $light-blue;
                &:hover {
                    border-color: #fff;
                }
            }
        }
    }
    
}