.section-see {
    @include image-2x('../assets', 'video-still', 'jpg', auto, 100%);
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden;

    &.playing {
        background-image: none;
        h2 {
            opacity: 0;
        }
        video {
           z-index: 2;
        }
        .button-play-video {
            opacity: 0;
        }
    }
    
    video {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .button-play-video {
        @include image-2x('../assets', 'player_large', 'png', 106px, 106px);
        display: block;
        height: 106px;
        left: 50%;
        margin-left: -58px;
        margin-top: -58px;
        position: absolute;
        top: 50%;
        width: 106px;
    }
}