* {
    margin: 0;
    padding: 0;
}

html {
    line-height: $default-line-height;
}

body {
    font-family: $font-whitney;
    font-size: $body-type-size;
    margin: 0 auto;
    padding: 0;
    color: $dark-grey;
}