.site-header, .main-header {
    .logo {
        &::before {
            display: none;
        }
        &::after {
            width: 100%;
            content: '';
            display: block;
            padding-top: 130%;
            background-image: url('/img/nh_logo.svg');
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
    }
    .header-content {
        h1 {
            margin-top: 0;
            margin-bottom: .5em;
            padding: 0;
            font-size: $body-type-size;
            font-weight: 300;
            text-transform: lowercase;
        }
        .main-nav {
            text-align: right;
            @include media($tablet) {
                text-align: left;
            }
            a {
                color: $red;
                margin-left: 2em;
                text-transform: lowercase;
                font-size: $body-type-size;
                display: inline;
                position: relative;
                text-decoration: none;
                
                @include media($tablet) {
                    margin-left: 0;
                    margin-right: 2em;
                }

                &:visited {
                    color: $red;
                }

                &::before {
                    @include transition(opacity .1s ease-out);
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    height: 1px;
                    width: 100%;
                    background-color: $red;
                    opacity: 0;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.site-header {
    @include outer-container();
    @include clearfix();
    @include main-padding();
    padding: {
        top: 4em;
        bottom: 2em;
    }
    .logo {
        @include span-columns(1);
        @include media($tablet) {
            @include span-columns(2);
        }
        &::before {
            width: 2em;
            margin-top: .5em;
        }
    }
    .header-content {
        @include span-columns(10);
        @include shift(1);
        @include media($tablet) {
            @include span-columns(9);
        }
        h1 {
            @include span-columns(5 of 10);
            @include media($tablet) {
                @include span-columns(9 of 9);
                
            }
        }
        .main-nav {
            @include span-columns(5 of 10);
            @include omega();
            @include media($tablet) {
                @include span-columns(9 of 9);
            }
        }
    }
}