.main-header {
    @include outer-container();
    @include clearfix();
    @include main-padding();

    padding: {
        top: 4em;
        bottom: 4em;
    }
    @include media($mobile) {
        padding-bottom: 2em;
    }

    .logo {
        @include span-columns(3);
        position: relative;

        @include media($tablet) {
            @include span-columns(2);
        }
        &::before {
            width: 100%;
        }
    }
    .header-content {
        @include span-columns(8);
        @include shift(1);
        @include media($tablet) {
            @include span-columns(9);
        }
        .title {
            @include span-columns(4 of 8);

            @include media($tablet) {
                @include span-columns(9 of 9);
            }
        }
        .main-nav {
            @include span-columns(4 of 8);
            @include omega();

            @include media($tablet) {
                @include span-columns(9 of 9);
            }
        }
        .intro {
            margin-top: 10em;
            p {
                font-family: $font-mercury;
                margin-bottom: 1.5em;
                font-size: $lead-in-type-size;
                line-height: $default-line-height;
                font-weight: 300;
            }
            em {
                font-weight: 500;
            }
            @include media($mobile) {
                font-size: $body-type-size;
                @include shift(-3);
            }
        }
    }
}

.portfolio {
    @include display(flex);
    @include flex-direction(column);
    width: 100%;
    .portfolio__section-container {
        width: 100%;
        @include display(flex);
        overflow: hidden;
    }


    section[class^='portfolio__section--'] {
        @include flex(0 0 100%);
        @include transition(transform .6s ease-in-out);
    }

    .portfolio-item {
        @include outer-container();
        @include clearfix();
        @include main-padding();
        margin: {
            top: 6em;
        }
        .portfolio-item__content {
            @include span-columns(5);
            @include shift(1);
            @include media($mobile) {
                @include span-columns(12);
                @include shift(0);
            } 
        }
        .portfolio-item__title {
            margin-top: 0;
            @include h3();
            a {
                color: $dark-grey;
                &::before {
                    background-color: $dark-grey;
                }
            }
        }
        .portfolio-item__tags {
            @extend .project-tags;
        }
        .portfolio-item__image {
            @include span-columns(6);
            @include transition(transform .1s $ease-out-back);
            @include transform(scale(1));
            &:hover {
                @include transform(scale(1.05));
            }
            @include media($mobile) {
                @include span-columns(12);
                @include shift(0);
            } 
            margin-bottom: 2em;

        }
    }
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, .98);
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.portfolio__nav {
    @include main-padding();
    @include outer-container();
    @include display(flex);
    @include justify-content(flex-start);
    overflow: auto;
    width: 100%;
    padding: {
        top: 1em;
        bottom: 1em;
    }

    @include media($mobile) {
        padding: {
            top: 1em;
            bottom: 1em;
        }
    }

    a {
        @include transition(color .2s ease-out);
        @include flex(0 1 auto);
        color: rgba($bg-medium-grey, 1);
        font-family: $font-mercury;
        font-size: $lead-in-type-size;
        margin-right: 1.5em;
        text-transform: lowercase;
        text-decoration: none;

        @include media($tablet) {
            font-size: rem(22);
        }
        @include media($mobile) {
            font-size: rem(18);
        }

        &:hover {
            color: rgba($light-grey, 1);
        }
        &.selected {
            @include transition-duration(.8s);
            color: rgba($red, 1);
        }
    }
}