.project {
    @include outer-container();
    @include main-padding();
    @include clearfix();

    header {
        @include span-columns(6);
        @include omega();
        @include clearfix();
        float: none;

        margin-bottom: 4em;

        @include media($tablet) {
            @include span-columns(12);
        }

        .project-title {
            @include h1();
            margin-bottom: .5em;
        }


    }

    .project-writing {
        @include span-columns(4);
        @include media($tablet) {
            @include span-columns(12);
        }
        margin-bottom: 4em;
        h2 {
            @include h2();
            &:first-child {
                margin-top: 0;
            }
        }
        h3 {
            @include h3();
        }
        p {
            @include body-type();
        }
    }

    .project-images {
        @include span-columns(7);
        @include shift(1);
        @include omega();
        @include media($tablet) {
            @include span-columns(12);
            @include shift(0);
        }
        figure {
            margin: {
                bottom: 6em;
            }
        }
    }
}