//Typography

@mixin h1() {
    color: $dark-grey;
    font-family: $font-mercury;
    font-size: $h1-type-size;
    line-height: 1.2em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1em;

    @include media($tablet) {
        font-size: em(30);
    }
}

@mixin h2() {
    color: $red;
    font-family: $font-whitney;
    font-size: $h2-type-size;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

@mixin h3() {
    color: #111;
    font-family: $font-whitney;
    font-size: $h3-type-size;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}

@mixin body-type() {
    color: $dark-grey;
    font-family: $font-whitney;
    font-size: $body-type-size;
    line-height: 1.5em;
}


p {
    @include body-type();
    margin-bottom: 1.5em;
}

a {
    color: inherit;
    text-decoration: underline;
}

article {
    ul {
        margin-bottom: 1.5em;
        list-style-position: inside;
        margin-left: 1em;
        li {
            margin-bottom: .5em;
            text-indent: -1em;
        }
    }
}

