//Typography

@mixin h1() {
    color: $dark-grey;
    font-family: $font-mercury;
    font-size: $h1-type-size;
    line-height: $heading-line-height;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1em;

    @include media($tablet) {
        font-size: em(30);
    }
}

@mixin h2() {
    color: $red;
    font-family: $font-whitney;
    font-size: $h2-type-size;
    line-height: $heading-line-height;
    font-weight: 400;
    margin-bottom: 1.5em;
}

@mixin h3() {
    color: #111;
    font-family: $font-whitney;
    font-size: $h3-type-size;
    line-height: $heading-line-height;
    font-weight: 500;
    margin-bottom: 1em;
}

@mixin body-type() {
    color: $dark-grey;
    font-family: $font-whitney;
    font-size: $body-type-size;
    line-height: $default-line-height;
}

h1 {
    @include h1();
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

p {
    @include body-type();
    margin-bottom: 1.5em;
}

a {
    color: inherit;
    text-decoration: underline;
}

blockquote {
    padding: 0 1em;
    font-style: italic;
}

article {
    ul {
        margin-bottom: 1.5em;
        list-style-position: inside;
        margin-left: 1em;
        li {
            margin-bottom: .5em;
            text-indent: -1em;
        }
    }
}

