// Colors
$bg-light-grey: #e6e6e6;
$bg-medium-grey: #ddd;
$dark-grey: #444;
$medium-grey: #666;
$light-grey: #ccc;
$tan: #f7f4ed;
$red: #ed1c24;

// Typography
$font-whitney: "Whitney SSm A", "Whitney SSm B", "Helvetica", "Arial", sans-serif;
$font-mercury: "Whitney SSm A", "Whitney SSm B", "Helvetica", "Arial", sans-serif;
$em-base: 16px;
$h1-type-size: rem(40);
$h2-type-size: rem(16);
$h3-type-size: rem(16);
$lead-in-type-size: rem(20);
$body-type-size: rem(16);
$detail-type-size: rem(12);

$default-line-height: 1.7em;
$heading-line-height: 1.2em;

// Grid Settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: rem(1024);
$visual-grid: false;

// Media Queries
$mobile: 480px;
$tablet: 640px;

// Animation Timing Functions
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);